


.Pokedex-card{
    display: flex;
    margin: 5px;
    justify-content: space-evenly ;
    flex-wrap: wrap;
}

.Pokedex-winner{
    color:  green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 50px;
}

.Pokedex-loser{
    color:  red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 50px;
}

.Pokedex-exp{
    font-size: 50px;
}

.Pokedex-winner-exp{
    font-size: 50px;
    color:  green;
}

.Pokedex-loser-exp{
    font-size: 50px;
    color:  red;
}